/* purgecss start ignore */
@tailwind base;
@tailwind components;

.page a,
.footer a,
.about-link a {
  @apply underline;
}

.page a:hover,
.footer a:hover,
.about-link a:hover {
  @apply text-orange-700;
}

.image-post {
  transition-property: transform, opacity, clip-path;
  /*-1% and 101% to avoid a thin white line*/
  clip-path: polygon(-1% -1%, 101% -1%, 101% 101%, -1% 101%);
}

.post:hover .image-post,
.post-single .image-post {
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0 81%);
}

/* purgecss end ignore */
@tailwind utilities;
